---
import Layout from "../../layouts/Docs.astro"
import Edit from "../../components/edit/Edit.astro"
import BaseHead from "../../components/BaseHead.astro"
---

<BaseHead
  title="Introduction"
  description="This is the introduction page to the Docs!"
/>
<Layout>
  <h1 class="text-center text-4xl font-bold">The Docs!</h1>
  <p class="text-center">This is the introduction page to the Docs!</p>
  <div
    class="m-2 w-11/12 rounded-2xl bg-primary-MEDIUM bg-opacity-50 p-3 lg:w-full"
  >
    <h3 class="text-center text-2xl font-bold">
      This will show up as "Introduction" on the Table of Contents to the left.
    </h3>
  </div>
  <div
    class="aspect-w-16 aspect-h-9 m-2 flex w-11/12 flex-col items-center justify-center rounded-2xl bg-primary-NOTSODARK bg-opacity-80 p-3 lg:w-full"
  >
    <iframe class="h-96" src="https://www.youtube.com/embed/1ReUKz10g50">
    </iframe>
    <span class="text-center text-sm">Type Safe Markdown rules</span>
  </div>
  <div
    class="m-2 w-11/12 rounded-2xl bg-primary-NOTSODARK bg-opacity-80 p-3 lg:w-full"
  >
    <p class="p-2">This is the introduction to the docs.</p>
    <p class="p-2">
      On the left, you will see the table of contents. This is based on the
      files and folders inside the `content` folder. Each file is a page, and
      you can create sections by placing them in folders. If you need help, I
      wrote an explanation of <a href="/docs/how-it-works">How It Works</a>.
      Check out <a href="/docs/core-doc">"This is a Core Doc"</a> for some examples
      of things you can do.
    </p>
  </div>
  <Edit file="src/pages/docs/index.astro" />
</Layout>
