---
import Headings from "./Headings.astro"
import ToC from "./ToC.astro"
import Search from "./Search.astro"
---

<script>
  const mobileMenu = document.querySelector(".mobile-menu") as HTMLElement
  const mobileMenuButton = document.querySelector(".mobile-menu-button")!
  function toggleMobileMenu() {
    mobileMenu.classList.toggle("hidden")
    if (mobileMenu.classList.contains("hidden")) {
      mobileMenuButton.classList.remove("opacity-100")
      mobileMenuButton.classList.add("opacity-20")
    } else {
      mobileMenuButton.classList.remove("opacity-20")
      mobileMenuButton.classList.add("opacity-100")
      window.scrollTo(0, 0)
    }
  }
  mobileMenuButton.addEventListener("click", toggleMobileMenu)
</script>

<button
  class="mobile-menu-button fixed top-0 right-0 z-50 opacity-20 md:hidden"
  aria-label="Toggle mobile menu"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="48"
    height="48"
    viewBox="0 0 48 48"
    fill="none"
    stroke="currentColor"
    stroke-width="4"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="text-primary-NOTSOLIGHT hover:text-primary-MEDIUM transition-colors duration-500 ease-in-out"
  >
    <line x1="12" y1="18" x2="36" y2="18"></line>
    <line x1="12" y1="6" x2="36" y2="6"></line>
    <line x1="12" y1="30" x2="36" y2="30"></line>
  </svg>
</button>
<div
  class="mobile-menu absolute hidden z-20 bg-primary-NOTSODARK p-4 rounded-b-2xl md:hidden max-h-fit w-full left-0 text-xl"
>
  <nav class="sticky flex items-center justify-center flex-col text-center">
    <Search searchID="mobile" resultsID="mobile" />
    <ToC />
    <Headings />
  </nav>
</div>
