---
import Github from "../assets/github.svg"
import Twitter from "../assets/Twitter-logo.svg"
import Edit from "./edit/Edit.astro"

const today = new Date()
---

<footer class="flex items-center justify-center gap-2 text-xs">
  <a href="https://twitter.com/JessePence5" target="_blank"
    ><img
      src={Twitter}
      alt="Twitter"
      class="h-10 w-10 rounded-full bg-primary-NOTSODARK p-1 transition duration-300 ease-in-out hover:scale-110"
    /></a
  >
  <a href="https://github.com/jazzypants1989" target="_blank"
    ><img
      src={Github}
      alt="Github"
      class="h-10 w-10 rounded-full bg-primary-NOTSODARK p-1 transition duration-300 ease-in-out hover:scale-110"
    /></a
  >
  <p>© {today.getFullYear()}</p>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
