---
import HeaderLink from "./HeaderLink.astro"
import logo from "../assets/YOUR LOGO HERE.png"
import Search from "./docs/Search.astro"
---

<header
  class="sticky top-0 left-0 z-30 flex h-8 w-full items-center justify-center rounded-b-lg bg-primary-NOTSODARK px-4 py-2 text-primary-NOTSOLIGHT opacity-80 shadow-lg transition-opacity duration-1000 ease-in-out hover:opacity-100"
>
  <img
    src={logo}
    alt="Docs Logo"
    class="absolute top-0 left-0 h-10 w-10 rounded-full shadow-lg"
  />
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/docs">Docs</HeaderLink>
    <HeaderLink href="/faq">FAQ</HeaderLink>
  </nav>
  <div class="absolute right-6 top-1 hidden w-1/4 md:block">
    <Search searchID="main" resultsID="main" />
  </div>
</header>
